.Cell {
	width: 1.2rem;
	height: 1.2rem;
}

.Cell-red {
	background-color: orangered;
}

.Cell-orange {
	background-color: coral;
}

.Cell-yellow {
	background-color: yellow;
}

.Cell-green {
	background-color: greenyellow;
}

.Cell-lightblue {
	background-color: lightskyblue;
}

.Cell-purple {
	background-color: plum;
}

.Cell-darkblue {
	background-color: darkblue;
}
