#Next {
	border: 2pt #333 solid;
	display: inline-block;
	width: 6rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1.2rem 1.2rem 1.2rem;
	border-radius: 7rem;
}
